
body{
    background-color: #666666;
    margin: auto;
}
.container{
  max-width: 100%;
  background-color: #cccccc;

}
header{
  background-color: #3f1c4d;
  position: relative;
}
header h1{
  color:#ffffff;
  font-family: serif;
  margin-top: 0px;
  margin-left: 45vw;
}
.myForm{
  /* width: 80%; */
  margin-left: 40%;
}
input[type="text"]{
  width: 20%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #4CA;
}
input[type=submit]{
    background-color: #4CA;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 90px 60px;
    cursor: pointer;
}
.firstName .secondName .Gender .DOB{
  font-family:sans-serif;
  font-size: 20px;
}

.table{
    border: 2px solid black;
    width: 60%;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    /* margin-left: 20%; */
    margin: auto;
    border-color: collapse;
}

td {
  text-align: center;
}
.delete{
  background-color: #4CA;
  border: none;
  color: white;
  /* padding: 16px 32px; */
  text-decoration: none;
  /* margin: 4px 80px; */
  cursor: pointer;
}
.update{
  background-color: #4CA;
  border: none;
  color: white;
  /* padding: 16px 32px; */
  /* text-decoration: none; */
  align-items: center;
  /* margin: 4px 80px; */
  cursor: pointer;
}
.DELETE{
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 2px 45vw 60px;
  cursor: pointer;
}
